%button {
  padding: 6px 16px;
  margin-right:-4px;
  line-height:25px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  @include user-select(none);
  -webkit-tap-highlight-color: transparent;
  height: 36px;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none!important;
  border-radius: 0.2em;
  min-width: 88px;
  @include transition(all 350ms);
  @extend %button-text;
  @extend %button-shadow;
  &%flat {
    background-color: inherit;
    color: rgba(0,0,0,0.87);
    z-index: 2;
    padding: 6px 8px;
  }
}
%button-shadow {
  &:not(%flat) {
    @include elevation(2);
  }
  &:hover,
  &:active {
    &:not(%flat) {
      @include elevation(8);
    }
    outline: none!important;
    border:none;
    background-color: $grey-200;
  }
  &:focus:not(%flat) {
    @include elevation(5);
  }
}
%button-text {
  font-size: 14px;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
