%dialog {
  top: 105vh;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  opacity: .9;
  width: 600px;
  max-width: 95%;
  display: block;
  border-radius: 2px;
  @include elevation(24);
  background-color: white;
  @include transition(all 0.3s ease);
  @include transition-property(top, opacity);
  &.visible {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    visibility: visible;
    opacity: 1;
  }
  %dialog-title {
    padding: 24px 24px 20px;
    font-weight: 500;
    font-size: 23px;
  }
  %dialog-content  {
    padding: 0 24px 24px;
    font-size: 17px;
    line-height: 1.3;
    color: $black-54;
  }
  %dialog-actions {
    width: 100%;
    height: auto;
    %button {
      margin: 8px 8px 8px 0; 
      float: right;
      color: $blue;
    }
  }
}
#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 23;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  @include transition(all 0.3s ease);
  &.visible {
    visibility: visible;
    opacity: 0.5;
  }
}
