%tooltip {
  position: relative;
  &:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    padding: 6px 10px;
    top: 100%;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(-5px);
    background: $grey-700;
    color: white;
    white-space: nowrap;
    z-index: 50;
    @include border-top-radius(1px);
    @include border-bottom-radius(20px 100%);
    @include transition(all 0.2s ease, border-radius 0.15s cubic-bezier(0.75, 0, 0.75, 0.5));
  }
  &:hover, &:focus {
    &:after {
      display: block;
      opacity: 0.9;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
      border-radius: 4px;
    }
  }
}
