
$load-icons: false;
$load-roboto: true;
$roboto: "Roboto+Mono|Roboto";
$beaver-blue: #293D6E;
$beaver-gold: #B59137;
$color: $beaver-blue;
@import "bourbon/bourbon";
@import "neat/neat";
@import "sol/sol";

$phone: new-breakpoint(max-width 480px, $total-columns: 4);
$tablet: new-breakpoint(min-width 480px max-width 840px, $total-columns: 8);
$desktop: new-breakpoint(min-width 840px, $total-columns: 12);

//////// Author ////////
img.profile {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: auto;
  display: block;
  margin-right: auto;
}
h1.profile {
  text-align: center;
}
%section-header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  span {
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 5px;
  }
}
section.about>h2,  {
  @extend %section-header;
  span {
    border-bottom: 2px solid red; 
  }
  & + .about {
    @extend %card;
    p { @extend %text }
  }
}
section.posts-by>h2 {
  @extend %section-header;
  span {
    border-bottom: 2px solid green; 
  }
}
////////// COMMON //////////

body {
  background-color: $grey-100;
}
main {
  margin-top: 20px;
}
a {
  color: $light-blue-600;
}
header.page-header {
  @extend %header;
  background-color: $beaver-blue;
  #header-logo {
    .text {
      @include media($phone) {
        display: none;
      }
      line-height: 100px;
      font-size: 30px;
      color: white;
      padding: 0;
      margin: 0;
    }
    img {
      height: 100px;
      float: left;
      padding: 10px 20px 10px 10px;
      @include media($phone) {
        padding: 10px;
      }
    }
  }
  nav {
    font-size: 20px;
    line-height: 100px;
    float: right;
    a {
      padding: 0 20px;
      color: $white;
      &.active, &:hover {
        //background-color: lighten($beaver-blue, 10%);
        background-color: $beaver-gold;
      }
    }
  }
}

a.button, input[type='submit'] {
  @extend %button;
  color: black;
  background-color: white;
}

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

///////// ARTICLE //////////
pre > code{
  @extend %highlight;
}
blog-page article {
  .summary { 
    font-style: italic;  
    margin-top: 30px;
    margin-bottom: 30px;
  }
  img {
    max-width: 100%;
  }
  time {
    margin-left: 10px;
    @extend %chip;
  }
}

////////// POSTS ///////////
.posts {
  @include media($desktop) {
    @include span-columns(8);
  }
}
.author {
  @extend %action, %chip;
}
.posts > .post {
  @extend %card;
  margin: 15px 0;
  .title {
    @extend %title;
  }
  .summary {
    @extend %text;
  }
  .readmore {
    @extend %action;
    color: $black-87;
  }
}
.subscribe {
  @include media($desktop) {
    @include span-columns(4);
  }
  @extend %card;
  margin: 15px 0 0;
  .title {
    @extend %title;
  }
  form {
    @extend %text;
  }
  input[type='email'] {
    @extend %text-inputs;
    width: 100%;
  }
  input[type='submit'] {
    background-color: $beaver-gold;
    width: 100%;
    color: white;
  }
}
/////// HOME //////////
body.root {
  main {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .card {
    @extend %card;
    margin: 30px;
    h2 {
      @extend %title;
    }
    p {
      @extend %text;
    }
  }
  #home-logo {
    width: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #team-photo {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    max-width: 100%; 
    height: auto !important;
    width: auto\9; /* ie8+9 */
    /* lt ie8 */
    -ms-interpolation-mode: bicubic;
  }
  .carousel {
    position: relative;
    overflow: hidden;
    max-width: 2448px;
    height: calc(100vh - 100px);
    transition: transform 1s
  }
}
