$load-icons: false;
$load-roboto: false;
$roboto: "Roboto+Mono|Roboto:400,500";
$color: green;
@import "bourbon/bourbon";
@import "neat/neat";
@import "sol/sol";
header.page-header {
  @extend %header;
  background-color: $indigo-700;
  a {
    color: $white;
    &.active, &:hover {
      background-color: $indigo-500;
    }
  }
}
img.profile {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: auto;
  display: block;
  margin-right: auto;
}
h1.profile {
  text-align: center;
}
%section-header {
  text-align: center;
  span {
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 5px;
  }
}
section.about>h2,  {
  @extend %section-header;
  span {
    border-bottom: 2px solid red; 
  }
  & + .about {
    @extend %card;
    padding: 16px;
  }
}
section.posts>h2 {
  @extend %section-header;
  span {
    border-bottom: 2px solid green; 
  }
}

.posts > .post {
  @extend %card;
  margin: 0 0 30px;
  .title {
    @extend %title;
  }
  .text {
    @extend %text;
  }
  a.button {
    color: $black-87;
  }
}
a.button {
  @extend %buttons;
}
.author,
.tag {
  @extend %chip;
}
//input[type="search"] { @extend %search; }
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  //@extend %text-inputs;
}
pre > code{
  @extend %highlight;
}
@if $load-icons {
  .icon {
    @extend %icons;
  }
}
main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
