
$load-icons: false;
$load-roboto: true;
$roboto: "Roboto+Mono|Roboto";
$color: green;
@import "bourbon/bourbon";
@import "neat/neat";
@import "sol/sol";

//////// Author ////////
img.profile {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: auto;
  display: block;
  margin-right: auto;
}
h1.profile {
  text-align: center;
}
%section-header {
  text-align: center;
  margin-top: 20px;
  span {
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 5px;
  }
}
section.about>h2,  {
  @extend %section-header;
  span {
    border-bottom: 2px solid red; 
  }
  & + .about {
    @extend %card;
    p { @extend %text }
  }
}
section.posts>h2 {
  @extend %section-header;
  span {
    border-bottom: 2px solid green; 
  }
}
////////// COMMON //////////

a {
  color: $light-blue-600;
}
header.page-header {
  @extend %header;
  background-color: $indigo-700;
  a {
    color: $white;
    &.active, &:hover {
      background-color: $indigo-500;
    }
  }
}

a.button {
  @extend %button;
}

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

///////// ARTICLE //////////
pre > code{
  @extend %highlight;
}

////////// POSTS ///////////
.posts > .post {
  @extend %card;
  margin: 15px 0;
  .title {
    @extend %title;
  }
  .summary {
    @extend %text;
  }
  .author {
    @extend %action, %chip;
  }
  .readmore {
    @extend %action;
    color: $black-87;
  }
}


